* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Edu AU VIC WA NT Pre", cursive;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.logo-div {
  width: 100px;
  height: 100px;
}

.logo-div>img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.section {
  background-color: white;
  position: sticky !important;
  top: 0px;
  width: 100%;
  /* border: 2px solid red; */
  z-index: 1000;
  box-shadow: 3px 3px 5px lightgrey;
}

.link {
  text-decoration: none !important;
  color: black;
}

.nav-center {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-left {
  height: 70px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 20px;
}

.input-search {
  border: 1px solid #000 !important;
  height: 35px;
}

.nav-txt {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-1x0dypw).ant-input-outlined:focus-within {
  box-shadow: none !important;
}


.nav-txt-1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -8px;
}

.icon {
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
}


.icon-s {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.slide-contain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.slide-1 {
  width: 20%;
  height: 500px;
  display: flex;
  align-items: end;
  position: relative;
}

.slide-2 {
  width: 20%;
  height: 500px;
  display: flex;
  align-items: start;
  position: relative;
}

.section-home {
  width: 100%;
  height: 500px;
  overflow: hidden;
  /* border: 3px solid red; */
}

.moving-div {
  position: absolute;
  top: 0;
  left: 0;
  animation: move-to-position 2s ease;
}

.fixed {
  animation: none;
  position: sticky;
  left: 0px;
  bottom: 0%;
}


.rotating-text {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  animation: rotate-text 2s ease;
}

@keyframes rotate-text {
  0% {
    transform: rotate(0deg);
    left: -15%;
    bottom: -15%;
  }

  100% {
    transform: rotate(360deg);
    left: 0%;
    bottom: 0%;
  }
}

/* slide-2-img */

.fixed-1 {
  animation: none;
  position: sticky;
  top: 0%;
  right: 0%;
}


.rotating-text-1 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  animation: rotate-texts 2s ease;
}

@keyframes rotate-texts {
  0% {
    transform: rotate(0deg);
    right: -15%;
    top: -15%;
  }

  100% {
    transform: rotate(360deg);
    top: 0%;
    right: 0%;
  }
}

.center-txt-div {
  width: 60%;
  position: relative;
  /* To keep the positioning within the container */
  height: 100vh;
  /* To ensure the container is tall enough to visualize the animation */
}

.center-txt-div>h1 {
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 40%;
  /* Initial position */
  left: 50%;
  transform: translateX(-50%);
  /* Center horizontally */
  animation: zoomin 2s ease-in-out forwards;
  /* Apply animation with smooth easing */
}


@keyframes zoomin {
  from {
    transform: scale(0.4) translateY(0px) translateX(-100%);
    opacity: 0.4;
  }

  to {
    transform: scale(1.1) translateY(100px) translateX(-50%);
    opacity: 1;
  }
}



/* styles.css */

/* Main area for transitions */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

/* Each item that transitions */
.transitionsItem {
  color: black;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.transitionsItem:hover {
  transform: scale(1.05);
}

/* Overflow hidden for the height animation */
.overflowHidden {
  overflow: hidden;
  font-size: 35px;
  font-weight: 600;
}

.head-txt {
  font-size: 30px;
  font-weight: 700;
}

.section-home-1 {
  width: 100%;
  height: auto;
  padding: 50px 0px;
}

.section-home-2 {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  /* border: 2px solid red; */
  box-shadow: -2px -5px 5px lightgray;
}

.food-category {
  width: 100px;
  height: 100px;
}

.food-category>img {
  width: 100%;
  height: 95px;
  box-shadow: 5px 5px 5px #8b8b8b;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}

.food-small-circle>p {
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}

.food-small-circle {
  width: 100px;
  padding-top: 30px;
}

.catogory-type {
  display: flex;
  width: 85%;
  gap: 30px;
  justify-content: space-evenly;
}

.para-txt {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}

.category-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  height: 120px;
}

.btn-1 {
  background-color: white !important;
  color: #000 !important;
  border: 2px solid #000 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.less,
.great {
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  padding-top: 1px;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 10px;
  margin-top: 15px;
}

.search-input {
  width: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  outline: none;
}

.search-form input:focus {
  border-color: #000;
}

.search-input {
  width: 200px;
  opacity: 1;
}

.logo-div-f {
  width: 120px;
  height: auto;
}

.f-divs {
  padding-top: 23px;
}

.f-txt {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

.f-icon {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.f-txt-1 {
  font-size: 14px;
  font-weight: 700;
}

.step-bg {
  background-image: url('/public/assets/step-bg.png');
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.step-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  filter: brightness(0.7);
  z-index: 1;
}

.steps-content {
  z-index: 2;
  width: 100%;
  height: 400px;
  align-items: center;
  position: relative;
}

.step-div {
  color: #000;
  text-align: center;
}

.opa-div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 35px;
  position: relative;
  z-index: 34;
}

.opacity-p {
  background-color: lightgray;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: -10%;
  display: flex;
  align-items: end;
  border-radius: 50%;
}

.setp-div-content {
  font-size: 20px;
  font-weight: 700;
}

/* Testimonial */



.testimonial-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
}

.testimonial-slides {
  position: relative;
  overflow: hidden;
  border-left: 8px solid #000;
  border-right: 8px solid #000;
  cursor: default;
  border-radius: 15px;
  /* border-radius: 15px; */
  box-shadow: 0 -5px 7px rgba(211, 211, 211, 0.3), 0 7px 7px rgba(211, 211, 211, 0.2);
  width: 100%;
  height: 200px;
}

.testimonial-slide {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  padding-top: 50px;
  height: 100%;
}

.testimonial-slide.active {
  opacity: 1;
  transform: translateX(0);
}

.testimonial-feedback {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.testimonial-name {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 800;
  color: #000;
}

.testimonial-controls {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.testimonial-controls input[type="radio"] {
  margin: 0 5px;
  cursor: pointer;
  appearance: none;
  width: 12px;
  height: 12px;
  border: 2px solid #aaa;
  border-radius: 50%;
  outline: none;
  transition: background-color 0.3s ease;
}

.testimonial-controls input[type="radio"]:checked {
  background-color: #333;
  border-color: #333;
}

.subcategory-container {
  margin: 10px 0;
}

.subcategory-container button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.subcategory-container button.active {
  background-color: #007bff;
  color: white;
}

.design-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.design-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.non-veg-design {
  /* border: 2px solid red; */
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-2 {
  border-top: none !important;
  width: 160px;
  height: 50px;
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 10px !important;
  border-left: 5px solid #000 !important;
  border-right: none;
  box-shadow: -5px 0 10px rgba(211, 211, 211, 0.5), 5px 0 10px rgba(211, 211, 211, 0.5) !important;
  border-bottom: 5px solid #000 !important;
  font-size: 16px;
  font-weight: 700;
}

.btn-2:hover {
  border: 5px solid #000 !important;
}

.non-veg-div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.design-img {
  border-left: 5px solid #000;
  border-top: 5px solid #000;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 120px;
  height: 115px;
  padding: 5px;
  border-radius: 50% 3%;
}

.design-img>img {
  width: 120px;
  height: 100px;
  border-radius: 50%;
}

.design-non-name {
  padding-top: 30px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

.img-contact {
  width: 100%;
  height: 500px;
  background-image: url('/public/assets/Contact-bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
}

.head-txt-2 {
  color: #fff;
}

.contact-content {
  width: 85%;
}

.contact-content>h2 {
  font-size: 33px;
}

.form-bg {
  background-image: url('/public/assets/form-ctn.jpeg');
  /* background-image: url('/public/assets/form-ctn-1.jpeg'); */
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-ctn {
  width: 45%;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 20px 0px rgba(211, 211, 211, 0.5);
  /* box-shadow: 0px 2px  rgba(211, 211, 211, 0.5),0px -2px rgba(211, 211, 211, 0.5); */
}

.label {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
}

.input-ctn {
  margin-bottom: 5px;
}

.input-ctn::placeholder {
  color: #333;
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-1x0dypw).ant-input-outlined:focus-within {
  border-color: #d9d9d9 !important;
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-input-outlined:hover {
  border-color: #d8d8d8 !important;
}

.btn-3 {
  border: 4px solid #000 !important;
  background-color: #fff !important;
  color: #000 !important;
  padding: 8px 80px;
  font-weight: 700;
}

.login-bg {
  background-image: url("/public/assets/login-bg.jpeg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.signin-bg {
  background-image: url("/public/assets/signin-bg.jpeg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form-contain {
  width: 40%;
  height: auto;
  padding: 40px;
}

.checkbox {
  background-color: #000 !important;
  cursor: pointer;
  margin-top: 10px;
}

.login-txt-1 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 8px;
}

.login-txt-1>span {
  color: rgb(112, 24, 24);
  text-decoration: 1px underline rgb(112, 24, 24);
  cursor: pointer;
}

.login-txt-2 {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}

.login-txt-2:hover {
  text-decoration: 1px underline #000;
}

.about-sticky {
  position: sticky;
  top: 17%;
  /* Adjust this value to control the distance from the top of the viewport */
  z-index: 10;
  /* Ensure it appears above other elements if needed */
}


.about-img {
  width: 100%;
  border-radius: 10px;
  position: sticky;
  top: 10%;
  z-index: 10;
}

.about-img>img {
  border-radius: 10px;
}

.about-h {
  font-size: 20px;
  font-weight: 800;
}

.about-p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-p>span {
  font-weight: 700;
}

.video-container {
  display: flex;
  height: 500px;
  align-items: center;
  border: 2px solid green;
}

.video-design{
  border: 2px solid red;
}

.videos{
  width: 400px;
}

.rate-div{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.heart{
  font-size: 25px;
}

.rate{
  font-size: 14px;
  margin-top: 8px;
  color: #000;
}