* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.nav-contain {
  width: 100%;
  height: 90px;
  padding: 5px 0px;
  position: sticky !important;
  top: 0px;
  z-index: 1000;
  background-color: #f5f0f0;
  display: flex;
}

.right-div {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
}

.right-div>p {
  margin-bottom: 0px;
}

.link {
  text-decoration: none !important;
  color: #404040 !important;
  font-size: 16px;
  font-weight: 600;
}

.logo {
  width: 90px;
  height: 80px;
}

.logo>img {
  cursor: pointer;
  height: 80px;
}

.user {
  margin-top: 17px;
  font-weight: 800;
}

.user-icon {
  font-size: 18px;
  font-weight: 800;
}

.section-home {
  width: 100%;
  height: 500px;
  background-color: #f5f0f0;
}

.slide-img {
  width: 100%;
  height: 505px;
}

.we-img {
  width: 100%;
  border-radius: 10px;
}

.we-img>img {
  width: 100%;
  border-radius: 10px;
}

.pad-gap {
  padding: 50px 0px;
  background-color: #f5f0f0;
}

.icon-img {
  width: 50px;
}

.we-para {
  margin-bottom: 0px;
  margin-top: 6px;
  font-size: 22px;
  font-weight: 600;
  color: #404040;
}

.pg {
  padding-top: 35px;
}

.head-txt {
  font-size: 38px;
  color: #bd9504;
}

.para-txt {
  color: #404040;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

.product-ani {
  border: 2px solid #bd9504;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-h {
  width: 200px;
}

.product-h>img {
  border-radius: 10px;
}

.offer-img {
  border: 2px solid #bd9504;
  border-radius: 10px;
  position: relative;
  height: 350px;
}

.offer-img>img {
  height: 330px;
  border-radius: 10px;
  position: absolute;
  bottom: 20%;
  width: 90%;
  left: 5%;
}

.offer-content {
  width: 100%;
  height: 325px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.offer-row {
  padding-top: 100px;
}

.bg {
  background-image: url("../public/assets/leaf.png");
  width: 100%;
  height: 500px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter:brightness(70%); */
}

.bg-fixed {
  background-image: url("../public/assets/fixed.png");
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg::before {
  content: '';
  /* Create an empty pseudo-element */
  position: absolute;
  /* Position it absolutely */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Fill the container */
  background-image: inherit;
  /* Inherit the background image */
  background-size: inherit;
  background-position: inherit;
  filter: brightness(0.3);
  /* Apply low brightness */
  z-index: 1;
  /* Layer it below the content */
}

.bg-count {
  width: 100%;
  height: 500px;
  align-items: center;
  position: relative;
  z-index: 2;
  /* Layer it above the pseudo-element */
  padding: 20px;
  color: #fff;
  flex-direction: row !important;
}

.count-txt {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.count-content {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.reviews-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

h2,
p {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

/* Animation for sliding content */
.reviews-container .slide-enter {
  transform: translateX(100%);
}

.reviews-container .slide-exit {
  transform: translateX(-100%);
}

.reviews {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.btn-l,
.btn-g {
  border: none !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  background-color: #bd9504 !important;
}

.less {
  padding-top: 6px;
  color: #f5f0f0;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.review-content {
  width: 50%;
  /* border: 2px solid #bd9504; */
  /* border-collapse: collapse; */
  box-shadow:-2px -2px 15px 5px rgb(247, 245, 245);
  border-radius: 10px;
  padding: 10px;
}

.review-contain {
  width: 100%;
  height: 500px;
  padding: 50px 0px;
}

.rating {
  display: flex;
  justify-content: center;
}

.review-h {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.review-s {
  text-align: center;
  font-size: 17px;
  padding-top: 20px;
}

.icons-div {
  height: 300px;
  display: flex;
  align-items: center;
}


.txt-f-1 {
  font-size: 16px;
  font-weight: 600;
}

.txt-f-1>span {
  font-weight: 700;
}

.txt-f-2 {
  font-size: 15px;
  font-weight: 600;
}

.f-icon {
  color: #404040;
  font-size: 16px;
  padding-top: 2px;
}

.logo-f {
  width: 80px;
}


.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social {
  font-size: 16x;
  cursor: pointer;
}

.head-txt-1 {
  font-size: 30px;
  color: #bd9504;
}

.head-txt-2 {
  font-size: 23px;
  margin-bottom: 0px;
  color: #bd9504;
}

.f-f-txt {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding-top: 30px;
}

.pad-gap-1 {
  width: 100%;
  height: 350px;
  padding: 50px 0px;
  background-color: #f5f0f0;
}

/* Product */

.section {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 50px 0px;
}

.product-box {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.product-box>img {
  border-radius: 10px;
  height: 246px;
}

.p-name {
  padding-top: 10px;
  font-weight: 700;
  color: #000;
}

.price {
  font-weight: 800;
  color: #bd9504;
  padding-top: 10px;
}

.price>del {
  color: #404040;
}

.btn-1 {
  background-color: #bd9504 !important;
  color: #f5f0f0 !important;
  border: 2px solid #bd9504 !important;
  /* border-radius: none !important; */
  --bs-btn-border-radius: none !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.btn-2 {
  background-color: #bd9504 !important;
  color: #f5f0f0 !important;
  border: 2px solid #bd9504 !important;
  /* border-radius: none !important; */
  --bs-btn-border-radius: none !important;
  font-size: 18px !important;
  padding: 8px 50px !important;
  font-weight: 600 !important;
}

::placeholder {
  color: #404040 !important;
}

.ml-div {
  text-align: center;
  margin-bottom: 0px;
  padding-top: 5px;
  font-weight: 700;
}

.we-div-btn {
  margin-top: 15px;
}

.btn-div {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: end;
}

.btn-div-1 {
  display: flex;
  justify-content: center;
  height: 65px;
  align-items: end;
}

.nav-txt {
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 0px;
}

.active-nav-txt {
  border-bottom: 2px solid #bd9504;
  /* Underline effect */
}

.login-contain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-div {
  width: 40%;
}

.login-txt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.input {
  padding: 15px;
}

.forgot {
  text-decoration: 1px underline rgb(131, 33, 33);
  color: rgb(131, 33, 33);
  cursor: pointer;
  font-weight: 600;
}

.sign-txt {
  font-weight: 600;
}

.sign-txt:hover {
  color: rgb(131, 33, 33);
  text-decoration: 1px underline rgb(131, 33, 33);
}

.product-box>img:hover {
  transform: scale(0.9);
  transition: all 2s ease-in;
}

.section-1 {
  padding: 50px 0px;
  background-color: #fff;
  width: 100%;
  height: auto;
}

.bg-imgs {
  width: 100%;
  height: 100vh;
}

.bg-imgs>img {
  width: 100%;
  height: 100vh;
}

.contact-contain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-div {
  width: 50%;
  box-shadow: 3px 3px 15px 5px lightgray;
  padding: 20px;
  border-radius: 10px;
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

:where(.css-dev-only-do-not-override-49qm).ant-input-outlined,
:where(.css-dev-only-do-not-override-49qm).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-49qm).ant-input-outlined:focus-within {
  border: 2px solid #bd9504 !important;
}

.contact-btn {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  border: 2px solid #bd9504 !important;
  width: 150px !important;
  cursor: pointer;
}

.form-select:focus {
  border: 2px solid #bd9504 !important;
  box-shadow: none !important;
}

.right-div.slide-in {
  transform: translateX(0);
  /* Slide in */
}

.right-div.slide-out {
  transform: translateX(100%);
  /* Slide out */
}

/* responsive */

@media only screen and (min-width:320px) and (max-width:578px) {

  .menu-toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .nav-contain {
    /* position: relative; */
  }


  .menu-div {
    display: flex;
    justify-content: end;
    height: 70px;
    align-items: end;
  }

  .menu {
    font-size: 30px;
  }

  .right-div {
    display: none !important;
  }

  .right-div-1 {
    background-color: #f5f0f0;
    width: 100%;
    position: fixed;
    top: 17.7%;
    left: 0%;
    border: 5px solid #bd9504;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .hide {
    display: none !important;
  }

  .slide-img {
    height: auto !important;
  }

  .pad-gap {
    padding: 20px 0px !important;
  }

  .row-gap {
    gap: 20px !important;
  }

  .product-ani {
    width: 100% !important;
  }

  .bg-fixed {
    display: none !important;
  }

  .para-txt {
    padding-bottom: 0px !important;
  }

  .icon-img {
    width: 50px !important;
  }

  .we-para {
    font-size: 15px !important;
  }

  .head-txt {
    font-size: 25px !important;
  }

  .offer-row {
    padding-top: 20px !important;
  }

  .offer-img {
    margin-top: 60px !important;
  }


  .count-txt {
    font-size: 18px !important;
  }

  .count-content {
    font-size: 16px !important;
  }

  .bg {
    height: auto !important;
  }

  .reviews {
    padding-top: 20px !important;
  }

  .review-content {
    padding: 5px !important;
    width: 100% !important;
    height: 280px !important;
  }

  .review-s {
    font-size: 14px !important;
  }

  .reviews{
    gap:10px !important;
  }
  .btn-l, .btn-g{
    width:30px !important;
    height: 30px !important;
  }

  .less{
    font-size: 12px !important;
  }

  .review-h {
    font-size: 16px !important;
  }

  .pad-gap-1{
    height: auto !important;
    padding: 20px 0px !important;
  }
  .head-txt-1{
    font-size: 25px !important;
  }
  .head-txt-2{
    font-size: 20px !important;
  }
  .review-contain{
    height: auto !important;
    padding: 20px 0px !important;
  }
  .section-1{
    padding: 30px 0px !important;
  }
  .product-box{
    width: 100% !important;
  }
  .product-box>img{
    width: 100% !important;
    height: 300px !important;
  }
  .p-name{
    padding-top: 80px !important;
  }
  .btn-div-1{
    padding-bottom: 30px !important;
  }
  .bg-imgs>img{
    height: auto !important;
  }
  .bg-imgs{
    height: auto !important;
  }
  .contact-div{
    width: 100% !important;
  }
  .login-contain,.login-div{
    width: 100% !important;
  }
}

@media only screen and (min-width:579px) and (max-width:900px) {

  .menu-toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .menu-div {
    display: flex;
    justify-content: end;
    height: 70px;
    align-items: end;
  }

  .menu {
    font-size: 30px;
  }

  .right-div {
    display: none !important;
  }

  .right-div-1 {
    background-color: #f5f0f0;
    width: 100%;
    position: fixed;
    top: 17.7%;
    left: 0%;
    border: 5px solid #bd9504;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .hide {
    display: none !important;
  }

  .slide-img {
    height: auto !important;
  }

  .pad-gap {
    padding: 20px 0px !important;
  }

  .row-gap {
    gap: 0px !important;
  }

  .product-ani {
    width: 100% !important;
  }

  .bg-fixed {
    display: none !important;
  }

  .para-txt {
    padding-bottom: 0px !important;
  }

  .icon-img {
    width: 50px !important;
  }

  .we-para {
    font-size: 15px !important;
  }

  .head-txt {
    font-size: 25px !important;
  }

  .offer-row {
    padding-top: 20px !important;
  }

  .offer-img {
    margin-top: 60px !important;
  }


  .count-txt {
    font-size: 18px !important;
  }

  .count-content {
    font-size: 16px !important;
  }

  .bg {
    height: auto !important;
  }

  .reviews {
    padding-top: 20px !important;
  }

  .review-content {
    padding: 5px !important;
    width: 100% !important;
    height: 280px !important;
  }

  .review-s {
    font-size: 14px !important;
  }

  .reviews{
    gap:10px !important;
  }
  .btn-l, .btn-g{
    width:30px !important;
    height: 30px !important;
  }

  .less{
    font-size: 12px !important;
  }

  .review-h {
    font-size: 16px !important;
  }

  .pad-gap-1{
    height: auto !important;
    padding: 20px 0px !important;
  }
  .head-txt-1{
    font-size: 25px !important;
  }
  .head-txt-2{
    font-size: 20px !important;
  }
  .review-contain{
    height: auto !important;
    padding: 20px 0px !important;
  }
  .section-1{
    padding: 30px 0px !important;
  }
  .product-box{
    width: 100% !important;
  }
  .product-box>img{
    width: 100% !important;
    height: 300px !important;
  }
  .p-name{
    padding-top: 80px !important;
  }
  .btn-div-1{
    padding-bottom: 30px !important;
  }
  .bg-imgs>img{
    height: auto !important;
  }
  .bg-imgs{
    height: auto !important;
  }
  .contact-div{
    width: 70% !important;
  }
  .login-contain{
    margin: auto;
  }
  .login-contain,.login-div{
    width: 70% !important;
  }
}